<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta http-equiv="Content-Security-Policy" content="default-src 'none'; img-src {{CSP_SOURCE}}; style-src 'nonce-{{NONCE}}'; script-src 'nonce-{{NONCE}}';">
<style nonce="{{NONCE}}">{{STYLES}}</style>
</head>
<body>
<script nonce="{{NONCE}}">
const vscode = acquireVsCodeApi();
const DATA = {{DATA}};
const LOGO_URI = "{{LOGO_URI}}";
{{SCRIPT}}
</script>
</body>
</html>
